<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dia 20</title>
</head>

<body>
  <form action="/alunos" method="post" class="form">
    <h1>Gerenciamento de matrículas</h1>

    <label for="name">Digite o nome do aluno:
      <input type="text" autocomplete="off" name="nome">
    </label>


    <select id="options" name="curso">
      <option disabled selected hidden value="titulo">Selecione um curso</option>
      <option value="ads">Análise e Desenvolvimento de Sistemas</option>
      <option value="eng-comp">Engenharia Computacional</option>
      <option value="sist-info">Sistemas de Informação</option>
    </select>

    <input type="submit" value="Adicionar aluno" name="add" class="btn-add">


    <!-- <button>Adicionar aluno</button> -->

    <br><br>
      <input type="submit" formaction="/alunos/list" value="Listar alunos da turma" class="list-aluno"></button>
  </form>
  <script src="../../frontEnd/index.js"></script>
</body>

</html>
