<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dia 20</title>
</head>

<body>
  <form action="/alunos" method="post">
    <h1>Gerenciamento de matrículas</h1>

    <label for="name">Digite o nome do aluno:
      <input type="text" autocomplete="off" name="name">
    </label>


    <select id="options">
      <option disabled selected hidden>Selecione um curso</option>
      <option value="ads">Análise e Desenvolvimento de Sistemas</option>
      <option value="eng-comp">Engenharia Computacional</option>
      <option value="sist-info">Sistemas de Informação</option>
    </select>


    <input type="submit" value="Adicionar aluno" name="add" class="btn-add">


    <!-- <button>Adicionar aluno</button> -->

    <br><br>
    <!-- <a href="/alunos"> -->
    <!-- <input type="submit" value="Listar alunos da turma"></button> -->
    <!-- </a> -->

  </form>
</body>

</html>
